body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: auto;
    flex-wrap: nowrap;
  }
.list {
    flex-direction: row;
    display: inline;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 10px;
}


  .footer {
    background: #1F2937;
    font-size: 12px;
    color:#F9FAF8;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px; 
  }

  button {
    background-color: #3882F6;
    color:#e5e7eb;
    flex: auto;
    border-color: #F9FAF8;
  }

  .infotext {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
  }

  h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    background-color: #1F2937;
    margin-top: 0;
    padding: 60px; 
    margin-bottom: 0;
    flex-direction: row;
  }

  .header {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    margin: 0; 
    margin-top: 0;
    flex-direction: row;
    display: flex;
    padding: 0px 60px; 
  }
  .middle {
    display: flex;
    justify-content: center;
    margin: 30px 120px;
    font-size: 38px;
    font-weight: 700;
  }

  .sidebar {
    width: 620px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 0px;
    
  }

  .quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font: italic;
    padding: 15px 45px; 
    margin: 0px; 
  }

  .end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .misc {
    background-color: #1F2937;
    color:#F9FAF8; 
    font-size: 18px;
    margin: 0;
    flex-direction: column;
    display: flex;
    padding: 0px 60px; 
  }
  .content {
    display: flex;
    flex-direction: row;
    flex:auto; 
    border: #1F2937;
    border-radius: 20px;
    
  }
  .card {
    display: flex;
    flex-wrap: wrap;
  }
  .alone {
    width: 120px; 
    height: 25px;
    flex: 0;
    
  }
  .more {
    background-color: #3882F6;
    display: flex;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 200;
    flex-direction: column;
    padding: 10px 20px;
    padding-bottom: 0px;
  }
  .align {
    flex-direction: row;
    display: flex;
    color: #F9FAF8;
  }
  .bold {
    font-weight: 700;
  }

  .flex {
    display:flex;
    flex-shrink: auto;
    background-color: #1F2937;
  }
  .card {
    border: 2px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 6px;
    width: auto; 
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding: 32px;
    flex-direction: row;
    margin: 5px;
    
  }
  .container {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto; 
  }
  .row {
    flex-direction: row;
    display: flex;
    flex: auto ;
  }
  h3 {
    display: flex;
  }
  .back {
    background-color: #1F2937;
    display: flex;
    padding: 30px; 
  }